<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
    <!-- Estilos CSS personalizados -->
</head>
<body>

    <!-- Menu arriba -->
    <nav id="menu" class="navbar navbar-expand-lg navbar-dark" style="background-color: #2A4DBD; height: 15%; position: absolute; width: 100%;">
        <div class="container-fluid">
            <a class="navbar-brand" class="menu-item active" id="opcion1" href="../index.html"><img
                    src="https://www.utng.edu.mx/assets/principal/logoutng.webp" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <!-- Migajas de pan -->
    <br><br><br><br>
    <nav style="--bs-breadcrumb-divider: '>'; font-size: 18px; text-align: left; margin-left: 15%; margin-top: 6%; position: absolute; " aria-label="breadcrumb">
       <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" style="text-decoration: none; color: black;">Inicio</a></li>
           <li class="breadcrumb-item active" aria-current="page">Categorías</li>
       </ol>
   </nav>
    
    <br><h1>Categorías <i class="fas fa-book"></i></h1><br>
    <div class="container">
        <!-- Categoría 1 -->
        <div class="category">
            <img src="https://aulaweb.unicesar.edu.co/pluginfile.php/139667/mod_resource/content/13/3%20-%20GRADO%20TERCERO/Datos/Unidad_I_Narracion/CLASIFICACION_DEL_G.NARRATIVO_-_copia.png" alt="Categoría 1">
            <h2>Género narrativo</h2>
            <p>Son todas aquellas narraciones que cuentan historias, tanto verídicas como ficticias. Las principales temáticas suelen ser las tradiciones, el nacionalismo y los acontecimientos heroicos de la época. Este género se reconoce hoy en día gracias a la novela.</p>
        </div>
        <!-- Categoría 2 -->
        <div class="category">
            <img src="https://pontelaspilasconeso.weebly.com/uploads/1/3/1/6/131681772/editor/captura-de-pantalla-41.png?1588009847" alt="Categoría 2">
            <h2>Género lírico</h2>
            <p>Sentimientos y emociones a través de las poesías. Los poemas son la forma más habitual de transmitir estas sensaciones. Es muy común el uso de recursos estilísticos como la comparación o la metáfora.</p>
        </div>
        <!-- Categoría 3 -->
        <div class="category">
            <img src="https://2.bp.blogspot.com/-jjvJn3eYBKg/W8Zr-BxKTxI/AAAAAAAAA9A/2fxV6pCRNaIqNMiVf9k0fuDd9aevIXAoQCLcBGAs/s1600/asdd.jpg" alt="Categoría 3">
            <h2>Género didáctico</h2>
            <p>No utiliza ningún recurso concreto, más bien se basa en la descripción de una idea para así poder convencer al propio lector. Actualmente la mejor forma de reconocerlo es mediante el ensayo.</p>
        </div>
        <!-- Categoría 4 -->
        <div class="category">
            <img src="https://www.abc.com.py/resizer/80OBMH5SmynHmhxmqART-Ae3aWU=/fit-in/770x495/smart/filters:format(webp)/arc-anglerfish-arc2-prod-abccolor.s3.amazonaws.com/public/SDA4TINGDJFFXDP7BKK72LV3FU.jpg" alt="Categoría 4">
            <h2>Género dramático</h2>
            <p>Diálogos donde se representan todo tipo de obras o cuentos en frente de espectadores. El objetivo principal de este género no es otro que entretener al público.</p>
        </div>
        <!-- Categoría 5 -->
        <div class="category">
            <img src="https://lasherramientasdelescritor.com/wp-content/uploads/2021/06/Compos-Pag-cuadrada-300px-1-1.jpg" alt="Categoría 5">
            <h2>Género de Novela</h2>
            <p>Narración extensa con un argumento mucho más complejo y la aparición de múltiples personajes.</p>
        </div>
        <!-- Categoría 6 -->
        <div class="category">
            <img src="https://www.abc.com.py/resizer/cwfgIVFyaAW_RAyeW_9FXOkfXyc=/fit-in/770x495/smart/filters:format(webp)/arc-anglerfish-arc2-prod-abccolor.s3.amazonaws.com/public/N2NRUPF6PNAO7KTCR4ZFWRPXBM.jpg" alt="Categoría 6">
            <h2>Género de Cuento</h2>
            <p>Es una narración breve que cuenta con la intervención de pocos personajes con un desarrollo y fin.</p>
        </div>
        <!-- Categoría 7 -->
        <div class="category">
            <img src="https://www.shutterstock.com/image-vector/illustration-comedy-tragedy-masks-traditional-600nw-2169534275.jpg" alt="Categoría 7">
            <h2>Género de Comedia</h2>
            <p>El desenlace es feliz y tiene un enfoque mucho más divertido y alegre.</p>
        </div>
        <!-- Categoría 8 -->
        <div class="category">
            <img src="https://static.vecteezy.com/ti/vetor-gratis/p3/24734313-teatral-drama-mascarar-vintage-opera-mascarar-para-tragedia-ator-face-expressa-negativo-emocao-filme-e-teatro-industria-desenho-animado-ilustracao-com-contorno-clipart-isolado-em-branco-fundo-vetor.jpg" alt="Categoría 8">
            <h2>Género de Drama</h2>
            <p>Problemas familiares, desengañados, duelos de amor son algunos de los temas que más se ahondan en este subgénero dramático.</p>
        </div>
        <!-- Categoría 9 -->
        <div class="category">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAoUX8usR8_FFzdypkOGIz5xa07y0h6tLF2GoIIzdvVQ&s" alt="Categoría 9">
            <h2>Género de Ensayo</h2>
            <p>Es un texto escrito en prosa de una forma muy formal para dar a conocer o exponer una hipótesis o tema.</p>
        </div>
        <!-- Agrega más categorías según sea necesario -->
    </div>
    <!--Pie de pagina-->

    <footer style="background-color: #2A4DBD; color: white; text-align: center; padding: 10px; margin-top: 5%;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/Universidad_Tecnológica_del_Norte_de_Guanajuato_%28UTNG%29_LOGO.png" alt="Logo" style="width: 50px; height: 50px; margin-right: 10px;">
        <br>
        <br>
        <div class="text-center">
            <a href="/mapa-inicio" class="btn btn-primary btn-lg">Mapa del Sitio</a>
        </div>
        <br><div>&copy; 2024 Universidad Tecnológica del Norte de Guanajuato (UTNG). Todos los derechos reservados.</div>
        <div>Sitio web oficial: <a href="http://www.utng.edu.mx" style="text-decoration: none; color: white;">www.utng.edu.mx</a></div>
        <div>Dirección: Av. Educación Tecnológica #34, Fracc. Universidad, C.P. 37800, Dolores Hidalgo Cuna de la Independencia Nacional, Guanajuato.</div>
        <div>Teléfono: <a href="tel:+524181825500" style="text-decoration: none; color: white;">+52 (418) 182 5500 </a> | Email: <a href="utng_doloreshidalgo@utng.edu.mx" style="text-decoration: none; color: white;">utng_doloreshidalgo&#64;utng.edu.mx</a></div>
        <div>Síguenos en nuestras redes sociales: <a href="https://www.facebook.com/UTNGDOLORESHIDALGO-222209577812067/app/109849065805705/" target="_blank" style="text-decoration: none; color: white;">UTNGDOLORESHIDALGO</a></div><br><br>
    </footer>
    
</body>
</html>