<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ActualizarPrestamos</title>
</head>
<body>
  
  <!-- Contenido principal -->
  <div id="contenidoPrincipal" style="margin-bottom: 0%;">

    <!-- Migajas de pan -->
    <br><br><br><br>
    <nav style="--bs-breadcrumb-divider: '>'; font-size: 18px; text-align: left; margin-left: 15%; margin-top: 6%; position: absolute; " aria-label="breadcrumb">
       <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" style="text-decoration: none; color:  white;">Inicio</a></li>
           <li class="breadcrumb-item active" style="color: white;" aria-current="page">Actualizar/Eliminar prestamo</li>
       </ol>
   </nav>

  <h1 class="title">Actualizar/Eliminar prestamo</h1><br><br><br>
<!--
<form action="/buscar">
  <i class="fa-solid fa-magnifying-glass"></i><input class="barra" type="share" name="" placeholder="Buscar">
  <input class="btnBuscar" type="submit" value="Buscar"><br><br><br>
</form>
-->

<!-- Tabla -->
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ISBN</th>
      <th scope="col">ID Ejemplar</th>
      <th scope="col">Número control</th>
      <th scope="col">Correo</th>
      <th scope="col">Fecha prestamo</th>
      <th scope="col">Fecha devolución</th>
      <th scope="col">Estatus</th>
      <th scope="col" style="width: 5%;">Editar</th>
      <th scope="col" style="width: 5%;">Eliminar</th>
    </tr>
  </thead>
  <tbody *ngFor="let Prestamo of prestamos; let i = index;">
    <tr>
      <th scope="row">{{i + 1}}</th>
      <td>{{Prestamo.ISBN}}</td>
      <td>{{Prestamo.idEjemplar}}</td>
      <td>{{Prestamo.numControl}}</td>
      <td>{{Prestamo.correo}}</td>
      <td>{{Prestamo.fechaPrestamo}}</td>
      <td>{{Prestamo.fechaDevolucion}}</td>
      <td style="color: white;" [ngClass]="obtenerClaseEstatus(Prestamo.fechaDevolucion)">
        {{ obtenerEstatus(Prestamo.fechaDevolucion) }}
      </td>
      <td><button (click)="selecinarPrestamo(Prestamo)" data-bs-toggle="modal" data-bs-target="#editarPrestamo" style="background-color: none; border: none;"><i class="fa-solid fa-pen-to-square"
            style="color: #0042aa;"></i></button></td>
      <td><button (click)="confirmarEliminarPrestamo(Prestamo.idPrestamo)" style="background-color: none; border: none;"><i class="fa-solid fa-trash"
            style="color: #e32402;"></i></button></td>
    </tr>
  </tbody>
</table>
</div>

<!-- Pie de pagina -->
<footer style="background-color: #2A4DBD; color: white; text-align: center; padding: 10px; margin-top: 5%;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/Universidad_Tecnológica_del_Norte_de_Guanajuato_%28UTNG%29_LOGO.png" alt="Logo" style="width: 50px; height: 50px; margin-right: 10px;">
  <br>
  <br>
  <div class="text-center">
      <a href="/mapa" class="btn btn-primary btn-lg">Mapa del Sitio</a>
  </div>
  <br><div>&copy; 2024 Universidad Tecnológica del Norte de Guanajuato (UTNG). Todos los derechos reservados.</div>
  <div>Sitio web oficial: <a href="http://www.utng.edu.mx" style="text-decoration: none; color: white;">www.utng.edu.mx</a></div>
  <div>Dirección: Av. Educación Tecnológica #34, Fracc. Universidad, C.P. 37800, Dolores Hidalgo Cuna de la Independencia Nacional, Guanajuato.</div>
  <div>Teléfono: <a href="tel:+524181825500" style="text-decoration: none; color: white;">+52 (418) 182 5500 </a> | Email: <a href="utng_doloreshidalgo@utng.edu.mx" style="text-decoration: none; color: white;">utng_doloreshidalgo&#64;utng.edu.mx</a></div>
  <div>Síguenos en nuestras redes sociales: <a href="https://www.facebook.com/UTNGDOLORESHIDALGO-222209577812067/app/109849065805705/" target="_blank" style="text-decoration: none; color: white;">UTNGDOLORESHIDALGO</a></div><br><br>
</footer>
</div> <!-- Cierra div de conyenido principal -->

<!-- Modal para editar prestamo -->
<div class="modal fade" id="editarPrestamo" tabindex="-1" aria-labelledby="editarPrestamoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header col-12 w-100" >
        <h1 class="modal-title fs-5 w-100" style="text-align: center; margin-left: 12px; margin-top: 2%;" id="editarPrestamoLabel">Editar Prestamo</h1>
      </div>
      <div class="modal-body">
        <form class="book-form" [formGroup]="form" (ngSubmit)="editarPrestamo()">
          <div class="input-group">
            <label for="publicationDate" style="margin-top: 5%;" ><i class="fa-solid fa-calendar-days" style="font-size: 20px;
              position: relative;
              left: 114%;"></i> Fecha devolución:</label>
            <input style="width: 250px;
            padding: 15px 15px 15px 50px;
            margin: 5px;" type="date" id="publicationDate" formControlName="fechaDevolucion" required>
            <div *ngIf="mensajeError" class="error-message">
              {{ mensajeError }}
            </div> <br>
          </div>

          <button style="visibility: hidden;" type="submit" #submit></button>
        </form>
      </div>
      <div class="modal-footer col-12" style="text-align: center;">

        <button class="btn cancel" type="button" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn save" (click)="submit.click()" data-bs-dismiss="modal" [disabled]="!form.valid">Editar</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>